body {
  
    color: #ffffff;
    font-size: 2rem;
    background-color: #161019;
    padding: 2px 10px;
    margin-left: 16%;
  }
  table
  {
    font-size: 2rem;
    padding: 2px 10px;
    margin-left: 16%;
    padding: 2px 10px;
    margin-top: 5%;
  }
  input{
    width: 280px;
    font-size: 1.8rem;
  }